<!--
	AngularJS controllers control the data of AngularJS applications. They are known as regular JavaScript Objects.

	A controller can also have methods, i.e. variables as functions.
-->

<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Expressions</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="myApp" ng-controller="personCtrl">
	First name: <input type="text" ng-model="firstname">
	<br>
	Last name: <input type="text" ng-model="lastname">
	<br>
	Full name: {{fullname()}}
</div>

<body>
	<script>
		var app = angular.module('myApp', []);
		app.controller('personCtrl', function($scope){
			$scope.firstname = "Alan";
			$scope.lastname = "Campbell";
			//function defined called fullname that returns the two variables
			$scope.fullname = function(){
				return $scope.firstname + " " + $scope.lastname;
			};
		});
	</script>
	
</body>
</html>